h1 {
    text-align: center;
    margin: 40px;
}

.container{
    padding-left: 32px;
    padding-right: 32px;
}

.container-image {
    text-align: center;
}

.container-image img {
    width: 100%;
}